asttokens
contourpy
cycler
debugpy
decorator
executing
fonttools
imbalanced-learn
imblearn
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
pip
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
tqdm
traitlets
tzdata
wcwidth